@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #171717;
}


@media (max-width: 768px) {
  table {
    font-size: 12px; /* Decrease font size on smaller screens */
  }
  th, td {
    padding: 8px 5px; /* Reduce padding for mobile screens */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
}

